body {
    margin: 0px 0px;
}
header {
    /* 今日の傘予報 */
    margin-bottom: 20px;
    background-color: rgb(224, 79, 79);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1 {
    /* 「今日の傘予報」 */
    margin: 0px 0px;
    color: rgb(255,255,255);
}
main {
    padding: 10px;
}
#parent {
    /* 一番左と一番右のアイテムも含め、均等な間隔で配置する */
    display: inline-flex;
    justify-content: space-around;
}
.contents {
    display: inline-block;
    border: solid 3px rgb(238, 204, 204);
    flex-basis: 25%;
    padding: 10px 15px;
    margin: 20px 0px;
    text-align: center;
}
h2 {
    font-size: 25px;
    border-bottom: dotted 3px rgb(236, 122, 122);
}
h2::before {
    content: ⚫︎;
    color: rgb(239, 111, 139);
}
.kasa {
    /* 「傘」一部文字色変更 */
    font-weight: bold;
    color: rgb(97, 206, 249);
}
img {
    /* 画像サイズ */
    margin: 10px 0px;
    width: 70%;
}
p {
    font-size: 20px;
    margin: 0px 0px;
}
footer {
    background-color: rgb(244, 79, 79);
    text-align: center;
}
a {
    /* SAMURAI HPへ飛ぶリンク */
    font-size: 20px;
    color: rgb(255, 255, 255);
}
a:visited {
    /* クリック後水色 */
    color: rgb(193, 234, 251);
}
a:hover {
    /* マウス乗ったらピンク */
    color: rgb( 245, 178 , 168);
}
@media screen and (max-width:768px){
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 25px;
    }
    #parent {
        display: inline-block;
    }
}