html {
    font-size: 20px;
}

body {
    font-family: "Arial" ,"Meiryo" ,sans-serif;
}

h1 {
    /* Google Fonts */
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.2em;
    text-shadow: 1px 1px 2px gray;
    border-bottom: solid 3px rgb(115, 115, 114);
}

.Mskyblue {
    color: skyblue;
}

.Ppink {
    color: rgb(255, 192, 203);
}
.pink {
    color: rgb(255, 192, 203)
}

.blue {
    color: skyblue;
}

html {
    text-align: center;
}

#basic>p {
    font-weight: bold;
}